* {
  margin: 0%;
  padding: 0%;
}

.bluetop {
  background-color: #1f2937;
}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 300px;
  padding-left: 50px;
  padding-top: 20px;
}

.headerlinks {
  display: flex;
  flex-direction: row;
  gap: 150px;
  padding-top: 40px;
  color: white;
  list-style-type: none;
  opacity: 0.6;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

#subtext {
  opacity: 0.6;
  font-size: 18px;
  color: white;
}

#button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3882f6;
  border: none;
  border-radius: 8%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  color: white;
}

.container2 {
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  padding-bottom: 100px;
}

#image {
  width: 500px;
}

#section2header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container3 {
  display: flex;
}
