/* Styles for landing page  */

.section1 {
    background-color: #1f2937;
    color: whitesmoke;
}

.container1 {
    background-color: #1f2937;
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between 100px;
}

.headerleft {
    font-size: 48px;
}

.headerright {
    margin-left: 10%;
    align-items: center;
}








    
